{% extends 'base.html.twig' %}

{% block title %}Aloitelista{% endblock %}

 {% block body %}

    <h1>Aloitelistaus</h1>
    <table class="table table-hover">
    <thead>
        <tr>
        <th>ID</th>
        <th>Aihe</th>
        <th>Kuvaus</th>
        <th>Kirjauspäivä</th>
        <th>Etunimi</th>
        <th>Sukunimi</th>
        <th>Sähköposti</th>
        <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
    {% for aloite in aloitteet %}
        <tr>
        <th>{{ aloite.id }}</th>
        <td>{{ aloite.aihe }}</td>
        <td>{{ aloite.kuvaus }}</td>
        <td>{{ aloite.kirjauspaiva }}</td>
        <td>{{ aloite.etunimi }}</td>
        <td>{{ aloite.sukunimi }}</td>
        <td>{{ aloite.email }}</td>
        <td>
            <a href="{{ path('aloite_nayta', {id: aloite.id}) }}" class="btn btn-dark btn-block">Näytä</a>
            <a href="{{ path('aloite_muokkaa', {id: aloite.id}) }}" class="btn btn-success btn-block">Muokkaa</a>
            <button poista-aloite="{{ aloite.id }}" class="btn btn-danger poista-aloite btn-block">Poista</button>        
        </td>
        </tr>               
    {%  endfor %}
    </tbody>    
</table> 
 
 {% endblock %}

 {% block javascripts %}
    {{ parent() }}
    <script src="../../js/main.js"></script>
{% endblock %}